body{
    padding: 0;
    margin: 0;
}

.haut{
    height: 100vh;
    width: 100%;
    color: white;
    background-image: url("image/workspace.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.haut h1{
    font-size: 40px;
}

.bas{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #463f32;
    background-image: url("image/mur.svg");
}

.images {
    position: relative;
    margin-top: 50px;
    padding: 50px;
}

.primary-marketing-images {
    display: flex;
}

.mr-auto {
    margin-right: auto;
}

.mk-images-center {
    display: flex;
    justify-content: center
}

.s_img{
    position: absolute;
    top: -4%;
}

.param{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.para{
    margin-left: 10%;
    height: 100%;
    width: 100%;
}

.bordures{
    height: 50px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.f_bor{
    border-radius: 50px;
    border-color: gray;
}

.s_bor{
    border-radius: 50px;
    border-color: red;
}

.Rosario{
    display: flex;
    justify-content: space-around;
}

.Rose{
    border: 1px gray solid;
    color: black;
    background-color: gray;
}

.Dan{
    display: flex;
    justify-content: space-around;
}

.dan{
    border: 1px gray solid;
    color: black;
    border-color: gray;
    background-color: gray;
}

.titl{
    text-align: center;
}

.description{
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
}

.box{
    margin: 10%;
    border: 1px white outset;
    box-shadow: 1px 1px 0px black;
}

.marketing{
    text-align: center;
}

.st{
    border: 1px brown solid;
    border-radius: 50px;
    color: white;
    background-color: brown;
}

.uno{
    border: 1px #FF1640 solid;
    border-radius: 50%;
    background-color: #FF1640;
    height: 35px;
    width: 35px;
    padding: 5px;
    font-size: 0.5em;
}

.dis{
    border: 1px gray solid;
    border-radius: 50px;
    color: gray;
}

.end{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.bloc{
    display: flex;
    justify-content: space-around;
}

.end_border{
    border: 1px white solid;
    text-align: center;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0;
    line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "READ";
    padding-left: 10px;
    background-color: red; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "UNREAD";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.shadow-black {
    box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);

    background-color: #2D2828;
    border: 1px solid rgba(255, 255, 255, 0.2);   
    padding-top: 30px;
    padding-bottom: 20px; 
}
footer {
    height: 40vh;
    width: 100%;
    color: white;
    background-image: url("image/footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-wrapper {
    margin: auto;
    width: 75%;
}

.market-content {
    width: 85%;
    margin: auto;
}

.card {
    display: flex;
    justify-content: space-between;
    
}

.card-highlight {
    display: flex;
}

.card-content {
    margin-top: 50px;
    padding:20px;

    color: rgba(45, 40, 40, 1);
}

.card-background {
    background-image: url("image/mur-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-white {
    color: rgba(255, 255, 255, 1);

}