.intro
{
    width: 1350px;
    height: 700px;
    background-image: url("fd.png");
    font-size: 50px;
    text-align: center;
}

.discover
{
    width: 100px;
    border: 1px green solid;
    margin: auto;
    font-size: 20px;
}

.middle
{
    text-align: center;
}

.div
{
    display: flex;
    justify-content: space-around;
}

.designer
{
    width: 1350px;
    height: 400px;
}

.img
{
    float: left;
}
